/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: "PT Sans", sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul[class],
ol[class] {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul[class] a,
ol [class] a {
  color: var(--clr-neutral-100);
  text-decoration: none;
  transition: all 0.5s;
}


ul[class] a:hover,
ol [class] a:hover {
  color: var(--clr-accent-400);
}

/* nav bar */
.primary-nav-wrapper {
  padding: calc(var(--spacer) * 2) 2rem;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-weight: var(--fw-700);
  font-size: 80%;
  display: flex;
  justify-content: center;
  letter-spacing: 1.5px;
}


.primary-nav {
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}



/* Utility classes */

.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
  line-height: 1.6;
}

.container>*+* {
  margin-top: var(--spacer);
}


.flow-content>*+* {
  margin-top: 1rem;
}

.flow-content--large>*+* {
  margin-top: calc(var(--spacer) * 3);
}

.flow-content--xlarge > * + * {
  margin-top: calc(var(--spacer) * 4);
}


.hero h1 {
  font-size: 1.7em;
}

.hero p {
  line-height: 1.6;
}

.hero img {
  transform: translateY(2em);
}



.flex {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 3);
}


.text-tag {
  background-color: var(--clr-neutral-900);
  color: var(--clr-accent-400);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 90%;
  display: inline-block;
  padding: 2px 7px;
}

.text-tag--white {
  color: var(--clr-neutral-100);
}


strong {
  color: var(--clr-accent-500);
}


.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}





.shadow {
  position: relative;
}

.shadow::before {
  content: "";
  background-color: var(--clr-accent-400);
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  z-index: -1;
}

.shadow--dark::before {
  background-color: var(--clr-neutral-900);
}

.text-accent {
  color: var(--clr-accent-400);
}


.cta.bg-accent {
  background-image: url('./assets/cta-bg-1.jpg');
}


.cta {
  text-align: center;
  background-image: url(./assets/cta-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.testimonial {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  padding: calc(var(--spacer) * 2);
  position: relative;
}

.testimonial > p{
  font-style: italic;
}


.testimonial::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: var(--clr-accent-400);
  position: absolute;
  z-index: -1;
  top: -.5rem;
  left: -.5rem;
}

.bg-accent {
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
}


.bg-accent::before {
  background-color: var(--clr-neutral-900);
}

.text-dark {
  color: var(--clr-neutral-900);
}

.text-center {
  text-align: center;
}

.footer {
  background-image: url(./assets/cta-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}



/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin: 0;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}





/* general layout */

section {
  padding: 4.125rem 0;
}

section h2 {
  margin-bottom: 1rem;
}

@media (min-width:40em) {
  .primary-nav-wrapper {
    position: sticky;
    top: 0;
    font-size: 100%;
    z-index: 100;
  }

  .hero {
    padding: 0;
  }

  .hero .flex {
    align-items: center;
  }

  .flex-item-large {
    width: 100%;
  }

  .text-tag {
    font-size: 100%;
  }

  .flex {
    flex-direction: row;
  }

  .testimonial {
  margin: 0;    
  }

  section {
    padding: 8.125rem 0;
  }
}